header {
    background-color: rgb(232, 199, 87);
    padding: 10px 20px; /* Adjust padding as needed */
    height: 90px; /* Set the header height to at least 20px */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header stays above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 50px auto 20px; /* Center the form horizontally and lower it by increasing the margin-top */
    max-width: 400px; /* Set maximum width for the form */
}

h2 {
    margin-bottom: 20px;
    color: #333; /* Set heading color */
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    box-sizing: border-box;
    transition: border-color 0.3s; /* Add transition effect */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
button:focus {
    outline: none;
    border-color: #007bff; /* Change border color on focus */
}

input[type="submit"],
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

a {
    color: #007bff;
    text-decoration: none;
}

input[readonly] {
    background-color: #f0f0f0; /* Gray background color */
    color: #666; /* Gray text color */
    cursor: not-allowed; /* Change cursor to not-allowed */
}